<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.secura.sipwatcher">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- write SA & pcap to SD -->
    <uses-permission android:name="android.permission.INTERNET" />               <!-- request IP address of rmnet1 inf -->

    <application
        android:allowBackup ="true"
        android:icon        ="@mipmap/ic_launcher"
        android:label       ="@string/app_name"
        android:roundIcon   ="@mipmap/ic_launcher_round"
        android:supportsRtl ="true"
        android:theme       ="@style/AppTheme">
        <activity
            android:name  =".MainActivity"
            android:label ="@string/app_name"
            android:theme ="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:directBootAware="false"
          android:enabled="true"
          android:exported="false"
          android:icon="@drawable/ic_menu_send"
          android:label="service_receiver"
          android:name=".MainActivity$IntelligenceReceiver"
          android:process=":remote" >
        </receiver>

        <service
            android:name     =".services.CentralIntelligence"
            android:exported ="false" />

    </application>



</manifest>